<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ desc_brand }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button [routerLink]="['/follow']">
      <ion-icon slot="icon-only" name="grid"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/gallery']">
      <ion-icon slot="icon-only" name="photos"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-searchbar [(ngModel)]="search" (ionChange)="searchProduct()"></ion-searchbar>

<ion-content> 
  <ion-grid class="grid-max-width" *ngIf="loaded ; else loading"> 
    <ion-row>
      <ion-col *ngFor="let product of products; let i = index" size="4">
        <ion-item-divider>
          <ion-img [src]="product.image_url" (click)="selectProduct($event)"></ion-img>
        </ion-item-divider>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-infinite-scroll threshold="50%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ng-template #loading>
    <ion-spinner loadingSpinner="crescent"></ion-spinner>
  </ng-template>
  <!-- adicionar fab-button -->
</ion-content>
