<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/follow']">
        <ion-icon slot="icon-only" name="grid"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/gallery']">
        <ion-icon slot="icon-only" name="photos"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-searchbar [(ngModel)]="search" (ionChange)="searchProduct()"></ion-searchbar>

<p class="p-choose">Escolha até {{ numberOfproducts }} produtos</p> 

<ion-content>  
  <ion-grid class="grid-max-width" *ngIf="loaded ; else loading"> 
    <ion-row>
      <ion-col *ngFor="let product of products" size="4">

        <div (click)="selectProduct(product)" [ngClass]="{'selected': isSelected}">
          <ion-img [src]="product?.image_url"></ion-img>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-infinite-scroll threshold="50%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ng-template #loading>
    <ion-spinner loadingSpinner="crescent"></ion-spinner>
  </ng-template>
</ion-content>

<ion-fab color="primary" vertical="bottom" horizontal="end" slot="fixed" activated="{{ !isSelected }}">
  <ion-fab-button (click)="checkPlatform()">
  <ion-icon name="arrow-forward"></ion-icon>
</ion-fab-button>