.grid-products {
    max-width: 800px;
    padding: 0px;
}

.col-products {
    padding-top: 5px;
    padding-left: 1px;
    padding-bottom: 5px;
    padding-right: 1px;
}

.selected {
    padding: 2px;
    background-color: #b12025;
}

.p-choose {
    font-size: 13px;
    margin: 0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: end;
}

.label {
    font-size: 10px;
    background-color: white
}