<ion-header no-padding id="header-id">
  <ion-toolbar color="primary">
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light-shade">
  <canvas class="canvas" id="canvas"></canvas>
</ion-content>

<ion-footer id="footer-id">
  <ion-toolbar color="dark">
    <ion-buttons class="footer-buttons">
      
      <!-- share -->
      <ion-button (click)="share()">
        <ion-icon slot="icon-only" size="large" name="share"></ion-icon>
      </ion-button>
      
      <!-- change product -->
      <ion-button (click)="openChangeProduct()">
        <ion-icon slot="icon-only" size="large" src="assets/icon/shoe.svg"></ion-icon>
      </ion-button>
      
      <!-- open modal add items -->
      <ion-button (click)="addItems()">
        <ion-icon slot="icon-only" size="large" name="add"></ion-icon>
      </ion-button>
      
      <!-- open modal edit text -->
      <ion-button (click)="optionsEditText($event)" [(disabled)]="textIsSelected">
        <ion-icon slot="icon-only" size="large" src="assets/icon/type.svg"></ion-icon>
      </ion-button>
      
      <!-- delete selected item -->
      <ion-button (click)="deleteObject()">
        <ion-icon slot="icon-only" size="large" name="trash"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>