@font-face {
    font-family: 'Abadi';
    src: url('../assets/fonts/Abadi/Abadi.ttf');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'AlwaysInMyHeart';
    src: url('../assets/fonts/AlwaysInMyHeart/AlwaysInMyHeart.ttf');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'Amaranth';
    src: url('../assets/fonts/Amaranth/Amaranth-Bold.otf');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'Asap';
    src: url('../assets/fonts/Asap/Asap-Regular.ttf');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'Bebas';
    src: url('../assets/fonts/Bebas/Bebas.OTF');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'ChampagneLimousines';
    src: url('../assets/fonts/Champagne&Limousines/Champagne&Limousines.ttf');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'Dulcelin';
    src: url('../assets/fonts/Dulcelin/Dulcelin.otf');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'GuldScript';
    src: url('../assets/fonts/GuldScript/GuldScript.ttf');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'Helvetica';
    src: url('../assets/fonts/Helvetica/Helvetica.TTF');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/fonts/HelveticaNeue/HelveticaNeueLTStd-Ex.otf');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'HumanistBold';
    src: url('../assets/fonts/HumanistBold/HumanistBold.ttf');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 200;
    font-style: normal;
  }