<ion-grid>
    <!-- BRAND LOGOS -->
    <ion-row (click)="openOption('brand')" *ngIf="brandEnabled">
      <ion-item-divider no-padding>
        <ion-col size="2">
          <div class="div-icon">
            <ion-icon slot="icon-only" size="large" name="photos"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <p>BRAND LOGOS</p>
        </ion-col>
      </ion-item-divider>
    </ion-row>
  
    <!-- OWN LOGO -->
    <ion-row (click)="openOption('logo')" *ngIf="logoEnabled">
      <ion-item-divider no-padding>
        <ion-col size="2">
          <div class="div-icon">
            <ion-icon slot="icon-only" size="large" name="image"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <p>OWN LOGO</p>
        </ion-col>
      </ion-item-divider>
    </ion-row>
  
    <!-- STAMPS -->
    <ion-row (click)="openOption('stamps')" *ngIf="stampsEnabled">
      <ion-item-divider no-padding>
          <ion-col size="2">
              <div class="div-icon">
                <ion-icon slot="icon-only" size="large" name="pricetags"></ion-icon>
              </div>
            </ion-col>
        <ion-col>
          <p>STAMPS</p>
        </ion-col>
      </ion-item-divider>
    </ion-row>
  
    <!-- ICONS -->
    <ion-row (click)="openOption('icons')" *ngIf="iconsEnabled">
      <ion-item-divider no-padding>
        <ion-col size="2">
          <div class="div-icon">
            <ion-icon slot="icon-only" size="large" name="information"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <p>ICONS</p>
        </ion-col>
      </ion-item-divider>
    </ion-row>
  </ion-grid>