<ion-header>
  <ion-toolbar>
    <ion-title>
      Storage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button  (click)="save(1)">Save db1</ion-button>
  <ion-button (click)="save(2)">Save db2</ion-button>
  <ion-button (click)="save(3)">Save db3</ion-button>
  <ion-button (click)="save(4)">Save db4</ion-button>
  
  <ion-button (click)="get(1)">Get db1</ion-button>
  <ion-button (click)="get(2)">Get db2</ion-button>
  <ion-button (click)="get(3)">Get db3</ion-button>
  <ion-button (click)="get(4)">Get db4</ion-button>
</ion-content>