<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Gallery</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="!hideSearch" (click)="hideSearch=true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/follow']">
        <ion-icon slot="icon-only" name="grid"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/gallery']">
        <ion-icon slot="icon-only" name="photos"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-searchbar *ngIf="hideSearch" showCancelButton (ionCancel)="searchCancel()" [(ngModel)]="search"
  (ionChange)="searchPost()"></ion-searchbar>

<ion-segment style="padding-top: 5px" [(ngModel)]="option" (ionChange)="selectPostLogo()">
  <ion-segment-button value="post">
    <ion-label>CREATED POSTS</ion-label>
  </ion-segment-button>
  <ion-segment-button value="story">
    <ion-label>YOUR LOGO</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <ion-grid class="grid-gallery" *ngIf="loaded ; else loading">
    <ion-row>
      <ion-col class="col-gallery" *ngFor="let image of listImages; let idx = index" size="4">
        <div class="div-img" (click)="selectImage(image, idx)" [ngClass]="{'selected': idx == index[idx]}">
          <ion-img [src]="image.image_url" (ionError)="loadErrorImg($event)"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="50%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ng-template #loading>
    <ion-spinner loadingSpinner="crescent"></ion-spinner>
  </ng-template>
</ion-content>

<ion-fab color="primary" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openEditor()" activated="{{ !isSelected }}">
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-fab-button>