<ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-title>{{ title | uppercase }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu($event)">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-segment style="padding-top: 5px" [(ngModel)]="layout" (ionChange)="selectPostStory()">
  <ion-segment-button value="post">
    <ion-label>POST</ion-label>
  </ion-segment-button>
  <ion-segment-button value="story">
    <ion-label>STORY</ion-label>
  </ion-segment-button>
</ion-segment>

<p class="p-choose">ESCOLHA UM TEMPLATE:</p>

<ion-content>
  <ion-grid *ngIf="loaded ; else loading">

    <ion-row *ngIf="layout == 'post'">
      <ion-col class="ion-activatable" *ngFor="let template of templatesPost; let idx = index" size-xs="4" size-md="3">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-img [src]="template.thumbnail_url" (click)="selectTemplate(template, idx)"
          [ngClass]="{'selected': idx == index && isSelected}" (ionError)="loadErrorImg($event)"></ion-img>
        <p class="name-temp-post">{{ template.name | lowercase }}</p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="layout == 'story'">
      <ion-col *ngFor="let tempArray of templatesStory; let idx = index" size="12">

        <ion-slides mode="md" pager="{{ tempArray.length > 1 }}" [options]="slideOpts">

          <ion-slide *ngFor="let temps of tempArray" (click)="selectTemplate(temps, idx)">

            <ion-img [src]="temps.thumbnail_url" [ngClass]="{'selected': idx == index && isSelected}"
              (ionError)="loadErrorImg($event)"></ion-img>
            
              <p class="name-temp-story" *ngIf="tempArray.length == 1">{{ temps.name | lowercase }}</p>

          </ion-slide>
          
        </ion-slides>

        <p class="name-temp-story" *ngIf="tempArray.length > 1">{{ tempArray[0].group_name | lowercase }}</p>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-infinite-scroll threshold="50%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ng-template #loading>
    <ion-spinner loadingSpinner="crescent"></ion-spinner>
  </ng-template>
</ion-content>

<ion-fab color="primary" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openProducts()" activated="{{ !isSelected }}">
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-fab-button>