<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Editor</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/']">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/follow']">
        <ion-icon slot="icon-only" name="grid"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/gallery']">
        <ion-icon slot="icon-only" name="photos"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>

    <ion-col class="editor-canvas">
      <canvas class="canvas" id="canvas"></canvas>
    </ion-col>

    <ion-col size="6">
      <div *ngFor="let item of items">
        <p></p>
      </div>
    </ion-col>

  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark" >
    <ion-buttons>

      <ion-button>
        <ion-icon name="open"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon name="code-working"></ion-icon>
      </ion-button>
      
      <ion-button>
        <ion-icon name="code-working"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>