<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Editor</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/']">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/follow']">
        <ion-icon slot="icon-only" name="grid"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/gallery']">
        <ion-icon slot="icon-only" name="photos"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <h5>Editor</h5>
  <!-- <p>{{ brand | json }}</p>
  <br>
  <h5>Template</h5>
  <p>{{ template | json }}</p>
  <br>
  <h5>Produto(s)</h5>
  <p>{{ products | json }}</p>
  <br>
  <h5>Post</h5>
  <p>{{ post | json }}</p>
  <br> -->
  
</ion-content>