<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ brand }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/follow']">
        <ion-icon slot="icon-only" name="paper"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/gallery']">
        <ion-icon slot="icon-only" name="photos"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid-max-width">
    <ion-row>
      <!-- adicionar apenas uma coluna -->
      <ion-col *ngFor="let brand of subBrands" size="6.1">
          <ion-img [src]="brand.image_brand" (click)="selectBrand(brand)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
