<ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-title>{{ title | uppercase }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/follow']">
        <ion-icon slot="icon-only" name="grid"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/gallery']">
        <ion-icon slot="icon-only" name="photos"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid class="grid-sub" *ngIf="loaded ; else loading">
      <ion-row class="row-sub" *ngFor="let sub of subs">
        <ion-img [src]="sub.image_url" (click)="selectBrand(sub)"></ion-img>
      </ion-row>
    </ion-grid>

    <ng-template #loading>
      <ion-spinner loadingSpinner="crescent"></ion-spinner>
    </ng-template>
  </div>
</ion-content>