.tp-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tp-logo {
    width: 60%;
    max-height: 200px;
    display: flex;
    padding-bottom: 16px;
}

.tp-button {
    width: 100%;
    min-height: 50px;
    padding-bottom: 1px;
}