<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Fabric</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="grid"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="photos"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row size="auto">
    
      <ion-col>
        <canvas class="canvas" id="canvas"></canvas>
      </ion-col>
      
      <ion-col>
        <div>
          <p>Teste...</p>
          <p>Teste...</p>
          <p>Teste...</p>
          <p>Teste...</p>
        </div>
      </ion-col>
    
    </ion-row>

  </ion-grid>
</ion-content>


