<ion-header class="modal-header">
  <ion-toolbar>
    <ion-title>home-modal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modal-content">

  <ion-grid> 
    <ion-row>
      <ion-col *ngFor="let choose of chooses" size="4">
        <div (click)="chooseSelected(choose)">
          <ion-img [src]="choose.image_url" (ionError)="loadErrorImg($event)"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>