<ion-grid>
  <!-- INPUT TEXT -->
  <ion-row>
    <ion-item-divider>
      <ion-item>
        <ion-label position="floating">Enter text</ion-label>
        <ion-input autofocus="true" class="input-text" [(ngModel)]="text" (ionChange)="setText()"></ion-input>
      </ion-item>
    </ion-item-divider>
  </ion-row>
  <!-- CHANGE COLOR -->
  <ion-row>
    <ion-item-divider>
      <ion-label>Text Color</ion-label>
      <ion-button slot="end" fill="outline" shape="round" size="small" (click)="setTextColor()"
        [(disabled)]="!textSettingsEnabled">
        <ion-icon slot="icon-only" size="small" name="color-palette"></ion-icon>
      </ion-button>
    </ion-item-divider>
  </ion-row>
  <!-- FONTS -->
  <ion-row>
    <ion-item-divider>
      <ion-label>Fontes</ion-label>
      <ion-button slot="end" fill="outline" shape="round" size="small" (click)="setFontFamily()"
        [(disabled)]="!textSettingsEnabled">
        <ion-icon slot="icon-only" size="small" src="assets/icon/ic_fonts.svg"></ion-icon>
      </ion-button>
    </ion-item-divider>
  </ion-row>
  <!-- FONT SIZE -->
  <ion-row>
    <ion-item-divider>
      <ion-col>
        <ion-range no-padding min="10" max="600" step="1" [(ngModel)]="textSize" (ionChange)="setFontSize()"
          [(disabled)]="!textSettingsEnabled">
          <ion-icon slot="start" src="assets/icon/ic_letter-a.svg" size="small"></ion-icon>
          <ion-icon slot="end" src="assets/icon/ic_letter-a.svg"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-item-divider>
  </ion-row>
  <!-- FONT SIZE MIN MAX -->
  <ion-row>
    <ion-item-divider>
      <ion-range no-padding dualKnobs="true" min="14" max="600" step="1" [(ngModel)]="textSizes"
        (ionChange)="setFontMinMax()" [(disabled)]="!textSettingsEnabled">
        <ion-label slot="start">- {{ textSizes.lower }}px</ion-label>
        <ion-label slot="end">+ {{ textSizes.upper }}px</ion-label>
      </ion-range>
    </ion-item-divider>
  </ion-row>
  <!-- TEXT OPACITY -->
  <ion-row>
    <ion-item-divider>
      <ion-col>
        <ion-range no-padding min="0" max="1" step="0.1" [(ngModel)]="textOpacity" (ionChange)="setTextOpacity()"
          [(disabled)]="!textSettingsEnabled">
          <ion-icon slot="start" name="sunny" size="small"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-item-divider>
  </ion-row>
  <!-- LOCK MOVEMENT -->
  <ion-row>
    <ion-item-divider>
      <ion-label>Travar Movimentos</ion-label>
      <ion-toggle slot="end" [(ngModel)]="lockMovement" (ionChange)="setLockMovements()"
        [(disabled)]="!textSettingsEnabled"></ion-toggle>
    </ion-item-divider>
  </ion-row>
  <!-- LOCK CHANGE FONT -->
  <ion-row>
    <ion-item-divider>
      <ion-label>Travar Fonte</ion-label>
      <ion-toggle slot="end" [(ngModel)]="lockFont" (ionChange)="setLockFont()" [(disabled)]="!textSettingsEnabled">
      </ion-toggle>
    </ion-item-divider>
  </ion-row>
  <!-- LOCK CHANGE COLOR -->
  <ion-row>
    <ion-item-divider>
      <ion-label>Travar Cor</ion-label>
      <ion-toggle slot="end" [(ngModel)]="lockColor" (ionChange)="setLockColor()" [(disabled)]="!textSettingsEnabled">
      </ion-toggle>
    </ion-item-divider>
  </ion-row>
</ion-grid>