<ion-grid>
  <!-- INPUT TEXT -->
  <ion-row>
    <ion-item-divider no-padding>
      <ion-col size="2">
        <div>
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <ion-input class="input-text" #textInput no-padding placeholder="Enter Text" autofocus="true" [(ngModel)]="text"
          (ionChange)="setText()"></ion-input>
      </ion-col>
    </ion-item-divider>
  </ion-row>
  <!-- FONTS -->
  <ion-row *ngIf="textSettingsEnabled">
    <ion-item-divider no-padding>
      <ion-col size="2">
        <div>
          <ion-icon slot="icon-only" src="assets/icon/ic_fonts.svg"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <ion-select placeholder="More fonts..." [(ngModel)]="textFont" (ionChange)="setFontFamily()">
          <ion-select-option *ngFor="let font of fonts" [ngClass]="{'font-family': font.fontFamily}">{{ font.name }}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-item-divider>
  </ion-row>
  <!-- FONT SIZE -->
  <ion-row *ngIf="textSettingsEnabled">
    <ion-item-divider no-padding>
      <ion-col>
        <ion-range no-padding min="10" max="600" step="1" [(ngModel)]="textSize"
          (ionChange)="setFontSize()">
          <ion-icon slot="start" src="assets/icon/ic_letter-a.svg" size="small"></ion-icon>
          <ion-icon slot="end" src="assets/icon/ic_letter-a.svg"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-item-divider>
  </ion-row>
  <!-- FONT SIZE MIN MAX -->
  <!-- <ion-row *ngIf="textSettingsEnabled">
    <ion-item-divider no-padding>
      <ion-range no-padding dualKnobs="true" min="14" max="600" step="1" [(ngModel)]="textSizes"
        (ionChange)="setFontMinMax()">
        <ion-label slot="start">{{ textSizes.lower }}</ion-label>
        <ion-label slot="end">{{ textSizes.upper }}</ion-label>
      </ion-range>
    </ion-item-divider>
  </ion-row> -->
  <!-- TEXT OPACITY -->
  <ion-row *ngIf="textSettingsEnabled">
    <ion-item-divider no-padding>
      <ion-col>
        <ion-range no-padding min="0" max="1" step="0.1" [(ngModel)]="textOpacity" (ionChange)="setTextOpacity()">
          <ion-icon slot="start" name="sunny" size="small"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-item-divider>
  </ion-row>
  <!-- CHANGE COLOR -->
  <ion-row *ngIf="textSettingsEnabled">
    <ion-item-divider no-padding>
      <ion-label>Text Color</ion-label>
      <ion-button slot="end" fill="outline" shape="round" size="small" (click)="setTextColor()">
        <ion-icon slot="icon-only" size="small" name="color-palette"></ion-icon>
      </ion-button>
    </ion-item-divider>
  </ion-row>
  <!-- LOCK MOVEMENT -->
  <ion-row *ngIf="textSettingsEnabled">
    <ion-item-divider no-padding mode="md">
      <ion-label>Travar Movimentos</ion-label>
      <ion-toggle slot="end" [(ngModel)]="lockMovement" (ionChange)="setLockMovements()"></ion-toggle>
    </ion-item-divider>
  </ion-row>
  <!-- LOCK CHANGE FONT -->
  <ion-row *ngIf="textSettingsEnabled">
    <ion-item-divider no-padding mode="md">
      <ion-label>Travar Fonte</ion-label>
      <ion-toggle slot="end" [(ngModel)]="lockFont" (ionChange)="setLockFont()"></ion-toggle>
    </ion-item-divider>
  </ion-row>
  <!-- LOCK CHANGE COLOR -->
  <ion-row *ngIf="textSettingsEnabled">
    <ion-item-divider no-padding mode="md">
      <ion-label>Travar Cor</ion-label>
      <ion-toggle slot="end" [(ngModel)]="lockColor" (ionChange)="setLockColor()"></ion-toggle>
    </ion-item-divider>
  </ion-row>
</ion-grid>