<ion-grid>
  <!-- INPUT TEXT -->
  <ion-row>
    <ion-item-divider no-padding>
      <ion-col size="2">
        <div>
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <ion-input class="input-text" #textInput no-padding placeholder="Enter Text" autofocus="true" [(ngModel)]="text"
          (ionChange)="setText()"></ion-input>
      </ion-col>
    </ion-item-divider>
  </ion-row>

  <!-- FONTS -->
  <ion-row *ngIf="textSettingsEnabled">
    <ion-item-divider no-padding>
      <ion-col size="2">
        <div>
          <ion-icon slot="icon-only" name="code-working"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <ion-select placeholder="More fonts..." [(ngModel)]="textFont" (ionChange)="setFontFamily()">
          <ion-select-option *ngFor="let font of fonts" [ngClass]="{'font-family': font.fontFamily}">{{ font.name }}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-item-divider>
  </ion-row>

  <!-- CHANGE COLOR -->
  <ion-row *ngIf="textSettingsEnabled">
    <ion-item-divider no-padding (click)="setTextColor()">
      <ion-col size="2">
        <div>
          <ion-icon slot="icon-only" name="color-palette"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <p class="p-change-color">Paleta de Cores</p>
      </ion-col>
    </ion-item-divider>
  </ion-row>

  <!-- FONT SIZE -->
  <ion-row *ngIf="textSettingsEnabled">
    <ion-item-divider no-padding>
      <ion-col>
        <ion-range no-padding min="14" max="{{ textSizes.upper }}" step="1" [(ngModel)]="textSize" (ionChange)="setFontSize()">
          <ion-icon slot="start" src="assets/icon/type.svg" size="small"></ion-icon>
          <ion-icon slot="end" src="assets/icon/type.svg"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-item-divider>
  </ion-row>

  <!-- TEXT OPACITY -->
  <ion-row *ngIf="textSettingsEnabled">
    <ion-item-divider no-padding>
      <ion-col>
        <ion-range no-padding min="0" max="1" step="0.1" [(ngModel)]="textOpacity" (ionChange)="setTextOpacity()">
          <ion-icon slot="start" name="sunny" size="small"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-item-divider>
  </ion-row>

  <!-- LOCK MOVEMENT -->
  <ion-row *ngIf="textSettingsEnabled">
    <ion-item-divider no-padding mode="md">
      <ion-col size="2">
        <div>
          <ion-icon slot="icon-only" size="large" name="resize"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <ion-label>Travar Movimentos</ion-label>
        <ion-toggle [(ngModel)]="lockMovement" (ionChange)="setLockMovements()"></ion-toggle>
      </ion-col>
    </ion-item-divider>
  </ion-row>

  <!-- LOCK CHANGE FONT -->
  <ion-row *ngIf="textSettingsEnabled">
    <ion-item-divider no-padding mode="md">
      <ion-col size="2">
        <div>
          <ion-icon slot="icon-only" size="large" name="resize"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <ion-label>Travar Fonte</ion-label>
        <ion-toggle [(ngModel)]="lockFont" (ionChange)="setLockFont()"></ion-toggle>
      </ion-col>
    </ion-item-divider>
  </ion-row>

  <!-- LOCK CHANGE COLOR -->
  <ion-row *ngIf="textSettingsEnabled">
    <ion-item-divider no-padding mode="md">
      <ion-col size="2">
        <div>
          <ion-icon slot="icon-only" size="large" name="color-palette"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <ion-label>Travar Cor</ion-label>
        <ion-toggle [(ngModel)]="lockColor" (ionChange)="setLockColor()"></ion-toggle>
      </ion-col>
    </ion-item-divider>
  </ion-row>

  <!-- TEXT MIN MAX SIZE -->
  <ion-row *ngIf="textSettingsEnabled">
    <ion-item-divider no-padding>
      <ion-col>
        <!-- <ion-range no-padding min="0" max="1" step="0.1" [(ngModel)]="textOpacity" (ionChange)="setTextOpacity()"> -->
        <ion-range no-padding dualKnobs="true" min="14" max="600" step="1" [(ngModel)]="textSizes" (ionChange)="setTextMinMax()">
          <ion-icon slot="start" name="sunny" size="small"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-item-divider>
  </ion-row>
</ion-grid>