<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/follow']">
        <ion-icon slot="icon-only" name="grid"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/gallery']">
        <ion-icon slot="icon-only" name="photos"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tp-container">
    <ion-img class="tp-logo" [src]="logo" alt="Logo brand"></ion-img>
    <div>
      <ion-button class="tp-button" [routerLink]="['/templates']">
        CRIAR A PARTIR DE TEMPLATE
      </ion-button>
      <ion-button class="tp-button" [routerLink]="['/posts']">
        ESCOLHER IMAGENS PRONTAS
      </ion-button>
    </div>
  </div>
</ion-content>
