<ion-header>
  <ion-toolbar>
    <ion-title>templates-posts</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div>
      <h5>{{ cod_brand }}</h5>
    </div>
    <div>
      <ion-button expand="full" (click)="onClickTemplates()">
        TEMPLATES
      </ion-button>
      <ion-button expand="full" (click)="onClickPosts()">
        POSTS
      </ion-button>
    </div>
  </div>  
</ion-content>
