<ion-header id="header-id">
    <ion-toolbar color="primary">
      <ion-title>Editor</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/']">
          <ion-icon slot="icon-only" name="grid"></ion-icon>
        </ion-button>
        <ion-button [routerLink]="['/gallery']">
          <ion-icon slot="icon-only" name="photos"></ion-icon>
        </ion-button>
        <ion-button [routerLink]="['/share']">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>

</ion-content>
