<ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- NAME -->
    <ion-row>
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input autofocus="true" [(ngModel)]="name" required="true"></ion-input>
      </ion-item>
    </ion-row>
    <!-- BRAND -->
    <ion-row>
      <ion-item-divider mode="md">
        <ion-label slot="start">Marca</ion-label>
        <ion-select slot="end" interface="popover" [(ngModel)]="brand" name="brand.brand"
          (ionChange)="setBrandChange()">
          <ion-select-option *ngFor="let brand of brands" [value]="brand">{{ brand.brand }}</ion-select-option>
        </ion-select>
      </ion-item-divider>
    </ion-row>
    <!-- SUB-BRAND -->
    <ion-row *ngIf="isSubdivision">
      <ion-item-divider mode="md">
        <ion-label slot="start">Sub Marca</ion-label>
        <ion-select slot="end" interface="popover" [(ngModel)]="subdivision" name="subdivision.subdivision">
          <ion-select-option *ngFor="let sub of subs" [value]="sub">{{ sub.subdivision }}</ion-select-option>
        </ion-select>
      </ion-item-divider>
    </ion-row>
    <!-- LANGUAGE -->
    <ion-row>
      <ion-item-divider mode="md">
        <ion-label slot="start">Idioma</ion-label>
        <ion-select slot="end" interface="popover" [(ngModel)]="language" name="language.lang">
          <ion-select-option *ngFor="let lang of languages" [value]="lang">{{ lang.lang }}</ion-select-option>
        </ion-select>
      </ion-item-divider>
    </ion-row>
    <!-- LAYOUT -->
    <ion-row *ngIf="isNewTemplate">
      <ion-item-divider mode="md">
        <ion-label slot="start">Layout</ion-label>
        <div slot="end" class="div-status">
          <ion-checkbox class="checkbox-status" [(ngModel)]="isPost" (click)="setLayoutPost('post')"></ion-checkbox>
          <ion-label>Post</ion-label>
          <ion-checkbox class="checkbox-status" [(ngModel)]="isStory" (click)="setLayoutStory('story')"></ion-checkbox>
          <ion-label>Story</ion-label>
        </div>
      </ion-item-divider>
    </ion-row>
    <!-- NUMBER PRODUCTS -->
    <ion-row *ngIf="isNewTemplate">
      <ion-item-divider mode="md">
        <ion-label slot="start">N° Produtos</ion-label>
        <div slot="end" class="div-status">
          <ion-checkbox class="checkbox-status" [(ngModel)]="isOne" (click)="setNumberOne('1')"></ion-checkbox>
          <ion-label>1</ion-label>
          <ion-checkbox class="checkbox-status" [(ngModel)]="isTwo" (click)="setNumberTwo('2')"></ion-checkbox>
          <ion-label>2</ion-label>
        </div>
      </ion-item-divider>
    </ion-row>
    <!-- VALIDITY -->
    <ion-row>
      <ion-item-divider mode="md">
        <ion-label slot="start">Validade</ion-label>
        <ion-toggle slot="end" [(ngModel)]="validityDate"></ion-toggle>
      </ion-item-divider>
    </ion-row>
    <ion-row *ngIf="validityDate">
      <ion-item-divider mode="md">
        <ion-label slot="start">Início</ion-label>
        <ion-datetime slot="end" display-format="D/M/YYYY" picker-format="D M YYYY" [(ngModel)]="validityStart"
          placeholder="Selecione..." min="2019" max="2060"></ion-datetime>
      </ion-item-divider>
      <ion-item-divider mode="md">
        <ion-label slot="start">Fim</ion-label>
        <ion-datetime slot="end" display-format="D/M/YYYY" picker-format="D M YYYY" [(ngModel)]="validityEnd"
          placeholder="Selecione..." min="2019" max="2060" value="15-12-1994"></ion-datetime>
      </ion-item-divider>
    </ion-row>
    <!-- SAVE -->
    <ion-row>
      <ion-item-divider mode="md">
        <ion-button slot="end" expand="block" (click)="save()">SALVAR</ion-button>
      </ion-item-divider>
    </ion-row>
  </ion-grid>
</ion-content>