.p-choose {
    font-size: 13px;
    margin: 0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 1px;
    text-align: end;
}

.p-empty {
    font-size: 16px;
    margin: 0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 20px;
    padding-bottom: 1px;
    text-align: center;
}

.grid-template {
    max-width: 800px;
    padding: 0px;
}

.col-template {
    padding: 0px;
}

.label {
    font-size: 10px;
    text-align: center;
    background-color: white;
}

.div-img {
    padding: 3px;
}

.selected {
    background-color: #b12025;
}