<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Templates</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="newTemplate()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="grid-template" *ngIf="loaded ; else loading">
    <ion-row class="row-template">
      <ion-col class="col-template" *ngFor="let template of templates">

        <ion-img [src]="template.thumbnail_url" (ionError)="loadErrorImg($event)"></ion-img>

        <div class="label-name">
          <ion-label>{{ template.name | lowercase }}</ion-label>
        </div>

        <div class="label">
          <ion-label>{{ template.id_lang | idLang }}</ion-label>
          <ion-label>{{ template.status | uppercase }}</ion-label>
        </div>

        <ion-buttons class="buttons-template">
          <ion-button (click)="renameTemplate(template)">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button (click)="editTemplate(template)">
            <ion-icon name="construct"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteTemplate(template)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="50%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ng-template #loading>
    <ion-spinner loadingSpinner="crescent"></ion-spinner>
  </ng-template>

</ion-content>