.container {
    width: 100%;
    height: 100%;
}

.grid-template {
    max-width: 800px;
}

.row-template {
    align-items: flex-start;
}

.col-template {
    padding: 3px;
    border: 1px solid #F2F2F2;
}

.label-name {
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.label {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}

.buttons-template {
    display: flex;
    justify-content: space-around;
    align-items: center;
}