ion-content {
  --background: #f2f2f2;
}

ion-grid {
  max-width: 800px;
  padding: 2px;
}

ion-col {
  padding: 4px;
  border: 2px solid #f2f2f2;
  background-color: white;
}

.div-label-fab {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content:flex-end;
}

ion-label {
  padding-top: 2px;
}

.fab-button {
  --color: black;
  --background: white;
  --box-shadow: none;
}

ion-fab {
  width: 50px;
  height: 50px;
  right: 1px;
  bottom: 1px;
}

