<ion-grid>
  <!-- CHANGE COLOR -->
  <ion-row>
    <ion-item-divider no-padding mode="md">
      <ion-label>Ícone Color</ion-label>
      <ion-button slot="end" fill="outline" shape="round" size="small" (click)="setIconColor()">
        <ion-icon slot="icon-only" size="small" name="color-palette"></ion-icon>
      </ion-button>
    </ion-item-divider>
  </ion-row>
  <!-- LOCK COLOR -->
  <ion-row>
    <ion-item-divider no-padding mode="md">
      <ion-label>Travar Cor</ion-label>
      <ion-toggle slot="end" [(ngModel)]="lockColor" (ionChange)="setLockColor()"></ion-toggle>
    </ion-item-divider>
  </ion-row>
  <!-- LOCK MOVEMENT -->
  <ion-row>
    <ion-item-divider no-padding mode="md">
      <ion-label>Travar Movimentos</ion-label>
      <ion-toggle slot="end" [(ngModel)]="lockMovement" (ionChange)="setLockMovement()"></ion-toggle>
    </ion-item-divider>
  </ion-row>
  <!-- LOCK ROTATION -->
  <ion-row>
    <ion-item-divider no-padding mode="md">
      <ion-label>Travar Rotação</ion-label>
      <ion-toggle slot="end" [(ngModel)]="lockRotation" (ionChange)="setLockRotation()"></ion-toggle>
    </ion-item-divider>
  </ion-row>
  <!-- LOCK SIZE -->
  <ion-row>
    <ion-item-divider no-padding mode="md">
      <ion-label>Travar Tamanho</ion-label>
      <ion-toggle slot="end" [(ngModel)]="lockSize" (ionChange)="setLockSize()"></ion-toggle>
    </ion-item-divider>
  </ion-row>
</ion-grid>