<ion-grid>
  
  <!-- FONTS -->
  <ion-row *ngIf="fontEnabled">
    <ion-item-divider no-padding>
      <ion-col size="2">
        <div class="div-icon">
          <ion-icon slot="icon-only" size="large" name="code-working"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <ion-select placeholder="More fonts..." [(ngModel)]="textFont" (ionChange)="setFontFamily()">
          <ion-select-option *ngFor="let font of fonts" [ngClass]="{'font-family': font.fontFamily}">{{ font.name }}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-item-divider>
  </ion-row>
  
  <!-- FONT SIZE -->
  <ion-row *ngIf="sizeEnabled">
    <ion-item-divider no-padding>
      <ion-col>
        <ion-range no-padding min="0" max="500" step="1" [(ngModel)]="textSize" (ionChange)="setFontSize()">
          <ion-icon slot="start" size="small" src="assets/icon/type.svg"></ion-icon>
          <ion-icon slot="end" src="assets/icon/type.svg"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-item-divider>
  </ion-row>
  
  <!-- TEXT COLOR -->
  <ion-row *ngIf="colorEnabled">
    <ion-item-divider no-padding>
      <ion-col size="2">
        <div class="div-icon">
          <ion-icon slot="icon-only" name="color-palette"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <ion-input type="color" value="textColor" [(ngModel)]="textColor" (ionChange)="setTextColor()"></ion-input>
      </ion-col>
    </ion-item-divider>
  </ion-row>
  
  <!-- TEXT OPACITY -->
  <ion-row *ngIf="opacityEnabled">
    <ion-item-divider no-padding>
      <ion-col>
        <ion-range no-padding min="0" max="1" step="0.1" [(ngModel)]="textOpacity" (ionChange)="setTextOpacity()">
          <ion-icon slot="start" size="small" name="sunny"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-item-divider>
  </ion-row>
  
  <!-- INPUT TEXT -->
  <ion-row *ngIf="textEnabled">
    <ion-item-divider no-padding>
      <ion-col size="2">
        <div class="div-icon">
          <ion-icon slot="icon-only" size="large" name="create"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <ion-input no-padding maxlength=18 placeholder="Enter Text" [(ngModel)]="text" (ionChange)="setText()" autofocus="true">
        </ion-input>
      </ion-col>
    </ion-item-divider>
  </ion-row>
  
</ion-grid>