<ion-grid>
  <!-- MOVEMENT -->
  <ion-row>
    <ion-item-divider no-padding mode="md">
      <ion-label>Travar Movimentos</ion-label>
      <ion-toggle slot="end" [(ngModel)]="lockMovement" mode="md" (ionChange)="setLockMovement()"></ion-toggle>
    </ion-item-divider>
  </ion-row>
  <!-- ROTATION -->
  <ion-row>
    <ion-item-divider no-padding mode="md">
      <ion-label>Travar Rotação</ion-label>
      <ion-toggle slot="end" [(ngModel)]="lockRotation" (ionChange)="setLockRotation()"></ion-toggle>
    </ion-item-divider>
  </ion-row>
  <!-- SIZE -->
  <ion-row>
    <ion-item-divider no-padding mode="md">
      <ion-label>Travar Tamanho</ion-label>
      <ion-toggle slot="end" [(ngModel)]="lockSize" (ionChange)="setLockSize()"></ion-toggle>
    </ion-item-divider>
  </ion-row>
</ion-grid>