<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="onClick1()">
    TEMPLATE 'POST' + 1 PRODUTO
  </ion-button>
  
  <ion-button (click)="onClick2()">
    TEMPLATE 'POST' + 2 PRODUTOS
  </ion-button>

  <ion-button (click)="onClick3()">
    TEMPLATE 'STORY' + 1 PRODUTO
  </ion-button>

  <ion-button (click)="onClick4()">
    TEMPLATE 'STORY' + 2 PRODUTOS
  </ion-button>

  <ion-button (click)="onClick5()">
    TEMPLATE 'POST' + 2 PRODUTOS M&F
  </ion-button>

  <ion-button (click)="onClick6()">
    TEMPLATE 'STORY' + 2 PRODUTOS M&F
  </ion-button>

  <ion-button (click)="onClick7()">
    POST 'POST'
  </ion-button>

  <ion-button (click)="onClick8()">
    POST 'STORY'
  </ion-button>

</ion-content>
