<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/follow']">
        <ion-icon slot="icon-only" name="grid"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/gallery']">
        <ion-icon slot="icon-only" name="photos"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-searchbar [(ngModel)]="search" (ionChange)="searchPosts()"></ion-searchbar>

<ion-segment style="padding-top: 5px" [(ngModel)]="layout" (ionChange)="selectPostStory()">
  <ion-segment-button value="post">
    <ion-label>POST</ion-label>
  </ion-segment-button>
  <ion-segment-button value="story">
    <ion-label>STORY</ion-label>
  </ion-segment-button>
</ion-segment>

<p *ngIf="!isEmpty" class="p-choose">Escolha uma imagem</p>

<ion-content>
  <p *ngIf="isEmpty" class="p-empty">Imagens do tipo {{ layout }} indisponíveis para esta marca.</p>

  <ion-grid class="grid-post" *ngIf="loaded ; else loading"> 
    <ion-row>
      <ion-col class="col-post" *ngFor="let post of posts; let idx = index" size="4">
        <div class="div-img" (click)="selectPost(post, idx)" [ngClass]="{'selected': idx == index && isSelected}">
          <ion-img [src]="post.post_url_thumb" (ionError)="loadErrorImg($event)"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="250px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  <ng-template #loading>
    <ion-spinner loadingSpinner="crescent"></ion-spinner>
  </ng-template>
</ion-content>

<ion-fab color="primary" vertical="bottom" horizontal="end" slot="fixed" activated="{{ !isSelected }}">
  <ion-fab-button (click)="openEditor()">
  <ion-icon name="arrow-forward"></ion-icon>
</ion-fab-button>