<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/follow']">
        <ion-icon slot="icon-only" name="grid"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/gallery']">
        <ion-icon slot="icon-only" name="photos"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-searchbar [(ngModel)]="search" (ionChange)="searchPosts()"></ion-searchbar>

<!-- desenvolver filtragem post/storie -->
<ion-segment (ionChange)="selectPostStorie($event)">
  <ion-segment-button value="post">
    <ion-label>POST</ion-label>
  </ion-segment-button>
  <ion-segment-button value="storie">
    <ion-label>STORIE</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <ion-grid class="grid-max-width" *ngIf="loaded ; else loading"> 
    <ion-row>
      <ion-col class="grid-col" *ngFor="let post of posts" size="4">
        <ion-img [src]="post.post_url_thumb"  (ionError)="loadErrorImg($event)" (click)="selectPost(post)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="250px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  <ng-template #loading>
    <ion-spinner loadingSpinner="crescent"></ion-spinner>
  </ng-template>
</ion-content>

