<ion-content>
  <div class="div-container">
    <div class="div-logo">
      <ion-img src="assets/img/logo.png"></ion-img>
    </div>
    <form (ngSubmit)="login()">
      <ion-item-divider mode="md">
        <ion-icon slot="start" name="contact"></ion-icon>
        <ion-input placeholder="Username" type="text" autofocus="true" [(ngModel)]="user"
          [ngModelOptions]="{standalone: true}" required></ion-input>
      </ion-item-divider>
      <p class="error" *ngIf="errorUser">{{ messageUser }}</p>
      <ion-item-divider mode="md">
        <ion-icon slot="start" name="key"></ion-icon>
        <ion-input placeholder="Password" type="password" [(ngModel)]="pwd" [ngModelOptions]="{standalone: true}"
          required></ion-input>
      </ion-item-divider>
      <p class="error" *ngIf="errorUser">{{ messagePwd }}</p>
      <ion-button type="submit" padding="30px" expand="block">LOGIN</ion-button>
    </form>
  </div>
</ion-content>