<ion-content>
  <div class="div-container">

    <div class="div-logo">
      <ion-img [src]="logo"></ion-img>
    </div>

    <div class="div-form">

      <ion-item-divider no-padding mode="md">
        <ion-icon name="contact"></ion-icon>
        <ion-input></ion-input>
      </ion-item-divider>

      <ion-item-divider no-padding mode="md">
        <ion-icon name="key"></ion-icon>
        <ion-input type="password"></ion-input>
      </ion-item-divider>

      <ion-button expand="block" (click)="login()">LOGIN</ion-button>

    </div>
  </div>
</ion-content>