<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/follow']">
        <ion-icon slot="icon-only" name="grid"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/gallery']">
        <ion-icon slot="icon-only" name="photos"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-segment style="padding-top: 5px" [(ngModel)]="layout" (ionChange)="selectPostStory()">
  <ion-segment-button value="post">
    <ion-label>POST</ion-label>
  </ion-segment-button>
  <ion-segment-button value="story">
    <ion-label>STORY</ion-label>
  </ion-segment-button>
</ion-segment>

<p *ngIf="!isEmpty" class="p-choose">Escolha um template</p>

<ion-content>
  <p *ngIf="isEmpty" class="p-empty">Templates do tipo {{ layout }} indisponíveis para esta marca.</p>

  <ion-grid class="grid-template" *ngIf="loaded ; else loading">
    <ion-row>
      <ion-col class="col-template" *ngFor="let template of templates; let idx = index" size="4">
        <div class="div-img" (click)="selectTemplate(template, idx)" [ngClass]="{'selected': idx == index && isSelected}">
          <ion-img [src]="template.thumbnail_url" (ionError)="loadErrorImg($event)"></ion-img>
          <div class="label">
            <ion-label>{{ template.name | lowercase }}</ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="50%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ng-template #loading>
    <ion-spinner loadingSpinner="crescent"></ion-spinner>
  </ng-template>
</ion-content>

<ion-fab color="primary" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openProducts()" activated="{{ !isSelected }}">
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-fab-button>