<ion-grid>
  <ion-row>

    <ion-item-divider no-padding *ngIf="selectedText">
      <ion-col size="2">
        <div class="div-icon">
          <ion-icon slot="icon-only" size="large" name="create"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <ion-input no-padding maxlength=18 placeholder="Enter Text" [(ngModel)]="text" (ionChange)="setParamsText()">
        </ion-input>
      </ion-col>
    </ion-item-divider>

    <ion-item-divider no-padding *ngIf="selectedFont">
      <ion-col size="2">
        <div class="div-icon">
          <ion-icon slot="icon-only" size="large" name="code-working"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <ion-select [(ngModel)]="textFont" (ionChange)="setParamsText()">
          <ion-select-option *ngFor="let font of fonts">{{ font }}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-item-divider>

    <ion-item-divider no-padding *ngIf="selectedSize">
      <ion-col>
        <ion-range no-padding min="0" max="500" step="1" [(ngModel)]="textSize" (ionChange)="setParamsText()">
          <ion-icon slot="start" size="small" src="assets/icon/type.svg"></ion-icon>
          <ion-icon slot="end" src="assets/icon/type.svg"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-item-divider>

    <ion-item-divider no-padding *ngIf="selectedColor">
      <ion-col size="2">
        <div class="div-icon">
          <ion-icon slot="icon-only" name="color-palette"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <input type="color" [(ngModel)]="textColor" (ionChange)="setParamsText()">
      </ion-col>
    </ion-item-divider>

    <ion-item-divider no-padding *ngIf="selectedOpacity">
      <ion-col>
        <ion-range no-padding min="0" max="1" step="0.1" [(ngModel)]="textOpacity" (ionChange)="setParamsText()">
          <ion-icon slot="start" size="small" name="sunny"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-item-divider>

  </ion-row>

  <ion-row>
    <ion-item-divider no-padding>
      <ion-buttons>
        <ion-button (click)="openTool('text')">
          <ion-icon slot="icon-only" size="large" name="create"></ion-icon>
        </ion-button>
        <ion-button #font (click)="openTool('font')">
          <ion-icon slot="icon-only" size="large" name="add"></ion-icon>
        </ion-button>
        <ion-button (click)="openTool('size')">
          <ion-icon slot="icon-only" size="large" src="assets/icon/type.svg"></ion-icon>
        </ion-button>
        <ion-button (click)="openTool('color')">
          <ion-icon slot="icon-only" size="large" name="color-palette"></ion-icon>
        </ion-button>
        <ion-button (click)="openTool('opacity')">
          <ion-icon slot="icon-only" size="large" name="sunny"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item-divider>
  </ion-row>
</ion-grid>

<!-- <ion-grid>
  <ion-row>
    <ion-item-divider no-padding>
      <ion-col size="2">
        <div class="div-icon">
          <ion-icon slot="icon-only" size="large" name="create"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <ion-input no-padding maxlength=18 placeholder="Enter Text" [(ngModel)]="text" (ionChange)="setParamsText()"></ion-input>
      </ion-col>
    </ion-item-divider>
  </ion-row>

  <ion-row>
    <ion-item-divider no-padding>
      <ion-col size="2">
        <div class="div-icon">
          <ion-icon slot="icon-only" size="large" name="code-working"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <ion-select [(ngModel)]="textFont">
          <ion-select-option *ngFor="let font of fonts">{{ font }}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-item-divider>
  </ion-row>

  <ion-row>
    <ion-item-divider no-padding>
      <ion-col>
        <ion-range no-padding min="0" max="500" step="1" [(ngModel)]="textSize" (ionChange)="setParamsText()">
            <ion-icon slot="start" size="small" src="assets/icon/type.svg"></ion-icon>
            <ion-icon slot="end" src="assets/icon/type.svg"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-item-divider>
  </ion-row>

  <ion-row>
    <ion-item-divider no-padding>
      <ion-col size="2">
        <div class="div-icon">
          <ion-icon slot="icon-only" name="color-palette"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <input type="color">
      </ion-col>
    </ion-item-divider>
  </ion-row>

  <ion-row>
    <ion-item-divider no-padding>
      <ion-col>
        <ion-range no-padding min="0" max="1" step="0.1" [(ngModel)]="textOpacity" (ionChange)="setParamsText()">
          <ion-icon slot="start" size="small" name="sunny"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-item-divider>
  </ion-row>
</ion-grid> -->