<ion-grid>
  <ion-row>
    <ion-item-divider no-padding>
      <ion-col size="2">
        <div class="div-icon">
          <ion-icon slot="icon-only" size="large" name="create"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <ion-input no-padding maxlength=18 [(ngModel)]="text"></ion-input>
      </ion-col>
    </ion-item-divider>
  </ion-row>

  <ion-row>
    <ion-item-divider no-padding>
      <ion-col size="2">
        <div class="div-icon">
          <ion-icon slot="icon-only" size="large" name="code-working"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <ion-select [(ngModel)]="font">
          <ion-select-option *ngFor="let font of fonts">{{ font }}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-item-divider>
  </ion-row>

  <ion-row>
    <ion-item-divider no-padding>
      <ion-col>
        <ion-range no-padding min="10" max="100" step="2">
            <ion-icon slot="icon-only" size="small" src="assets/icon/type.svg"></ion-icon>
            <ion-icon slot="icon-only" size="large" src="assets/icon/type.svg"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-item-divider>
  </ion-row>

  <ion-row>
    <ion-item-divider no-padding>
      <ion-col size="2">
        <div class="div-icon">
          <ion-icon slot="icon-only" size="large" name="color-palette"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <input type="color">
      </ion-col>
    </ion-item-divider>
  </ion-row>

  <ion-row>
    <ion-item-divider no-padding>
      <ion-col>
        <ion-range no-padding min="0" max="100" step="2">
          <ion-icon slot="start" name="sunny" size="small"></ion-icon>
          <ion-icon slot="end" name="sunny" size="large"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-item-divider>
  </ion-row>
</ion-grid>