<ion-grid>
  <ion-row>
    <ion-item-divider no-padding>
      <ion-col size="2">
        <div class="div-icon">
          <ion-icon slot="icon-only" size="large" name="create"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <ion-input no-padding value="Text" maxlength=18></ion-input>
      </ion-col>
    </ion-item-divider>
  </ion-row>

  <ion-row>
    <ion-item-divider no-padding>
      <ion-col size="2">
        <div class="div-icon">
          <ion-icon slot="icon-only" size="large" name="code-working"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <p>Font</p>
      </ion-col>
    </ion-item-divider>
  </ion-row>

  <ion-row>
    <ion-item-divider no-padding>
      <ion-col size="2">
        <div class="div-icon">
          <ion-icon slot="icon-only" size="large" name="code-working"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <ion-range no-padding min="10" max="100" step="2">
          <ion-icon slot="start" name="sunny" size="small"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-item-divider>
  </ion-row>

  <ion-row>
    <ion-item-divider no-padding>
      <ion-col size="2">
        <div class="div-icon">
          <ion-icon slot="icon-only" size="large" name="color-palette"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <input type="color">
      </ion-col>
    </ion-item-divider>
  </ion-row>

  <ion-row>
    <ion-item-divider no-padding>
      <ion-col size="2">
        <div class="div-icon">
          <ion-icon slot="icon-only" size="large" name="sunny"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <ion-range no-padding min="0" max="100" step="2">
          <ion-icon slot="start" name="sunny" size="small"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-item-divider>
  </ion-row>
</ion-grid>