<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ desc_brand }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
  <!-- adicionar botoes Feed e Gallery -->
  </ion-toolbar>
</ion-header>

<ion-segment (ionChange)="selectPostStorie($event)">
  <ion-segment-button value="post">
    <ion-label>POST</ion-label>
  </ion-segment-button>
  <ion-segment-button value="storie">
    <ion-label>STORIE</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <h6 text-center>Escolha um template</h6>
  <ion-grid class="grid-max-width"> 
    <ion-row *ngIf="response$ | async ; else loadingError">
      <!-- adicionar um padding na coluna do meio -->
      <ion-col *ngFor="let template of templates" size="4">
        <!-- adicionar placeholder -->
        <ion-img [src]="template.json.thumbnailUrl" (click)="selectTemplate(template)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ng-template #loadingError>
    <div *ngIf="error$ | async; else loading">
      Erro ao carregar os templates. Tente novamente mais tarde.
    </div>
    <!-- centralizar spinner -->
    <ng-template #loading>
      <ion-spinner loadingSpinner="crescent"></ion-spinner>
    </ng-template>
  </ng-template>

</ion-content>