<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button [routerLink]="['/follow']">
      <ion-icon slot="icon-only" name="grid"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/gallery']">
      <ion-icon slot="icon-only" name="photos"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-segment (ionChange)="selectPostStorie($event)">
  <ion-segment-button value="post">
    <ion-label>POST</ion-label>
  </ion-segment-button>
  <ion-segment-button value="storie">
    <ion-label>STORIE</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <h6 text-center>Escolha um template</h6>
  <ion-grid class="grid-max-width" *ngIf="loaded ; else loading"> 
    <ion-row>
      <ion-col class="template" *ngFor="let template of templates" size="4">
        <ion-img [src]="template.json.thumbnailUrl" (ionError)="loadErrorImg($event)" (click)="selectTemplate(template)"></ion-img>
        <ion-label>{{ template.json.name }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="50%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- centralizar spinner -->
  <ng-template #loading>
    <ion-spinner loadingSpinner="crescent"></ion-spinner>
  </ng-template>
  <!-- adicionar fa-button -->
</ion-content>