<ion-header>
  <ion-toolbar>
    <ion-title>BR Easy Post</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-segment (ionChange)="segmentChanged($event)">
  <ion-segment-button value="post">
    <ion-label>POST</ion-label>
  </ion-segment-button>
  <ion-segment-button value="story">
    <ion-label>STORIE</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <p style="text-align:center">choose your template</p>
  <ion-grid> 
    <ion-row *ngIf="templates$ | async as templates ; else loading">
      <ion-col *ngFor="let template of templates" size="4">
        <ion-img [src]="template.json.thumbnailUrl"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="250px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ng-template loadingSpinner="crescent" #loading>
  <ion-spinner></ion-spinner>
</ng-template>