<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Follow</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button [routerLink]="['/follow']">
          <ion-icon slot="icon-only" name="grid"></ion-icon>
        </ion-button>
      <ion-button [routerLink]="['/gallery']">
        <ion-icon slot="icon-only" name="photos"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h5>Gallery</h5>
</ion-content>